div {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

@font-face {
    font-family: Calyces;
    src: url(Calyces-Regular.otf);
}
@font-face {
    font-family: PTSans;
    src: url(PTSans.ttc);
}
@font-face {
    font-family: PTSerif;
    src: url(PTSerif.ttc);
}
@font-face {
    font-family: Ortica;
    src: url(Ortica/Ortica-Light.otf);
}
@font-face {
    font-family: Flower;
    src: url(GlyphWorld/GlyphWorld-Flower.otf);
}
html {overflow-x: hidden;}
body {background-color: rgba(237,228,199,.2); width: 100vw; overflow-x: hidden;-webkit-overflow-scrolling: touch;}



/*   LETUR  */

.pt {
    font: 16px Arial;
    text-transform: uppercase;
}
.calyces {
    font: 17px Arial;
    text-transform: uppercase;
    line-height: 50px;
    line-height: 30px !important;
}
.arialStaerri {
    font: 27px Arial;
    text-transform: uppercase;
    line-height: 50px;
    line-height: 30px !important;
}
.calycesStaerri {
    font: 27px Calyces;
    line-height: 50px;
    line-height: 30px !important;
}
.calycesminni {
    font: 17px Calyces;
}
.ptLengri {
    /*font: 16px PTSans;*/
    font: 16px Arial;
    line-height: 21px;
}
.topNav {
    position: absolute;
    top: 39%;
    left: 40%;
}
a {color: black; text-decoration: none !important;}
.whitebackground {background-color: white;}

/*  FIXED  */

.takkakassi {
    position: fixed;
    top: 20px;
    border: 1px solid rgb(70,70,70);
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}
.takkakassi:hover {background: white;}
.styrkja {right: 20px;}
.umOkkur {right: 220px; background-color: white;}

.logoFlora {
    position: fixed;
    top: 20px;
    left: 20px;
    width: calc((100vw - 100px) - 40px);
    width: calc(100vw / 5);
    height: 100px;
    text-align: center;

    background-image: url(basic.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /*pointer-events: none;*/
    cursor: pointer;
}

.fifthwidth {
    position: fixed; 
    width: calc((100vw - 120px) / 5);
    border-right: 1px solid rgb(70,70,70);
    border-left: 1px solid rgb(70,70,70);
    /*background-color: white;*/
    border-radius: 140px;
    text-align: center;
    top: 80px;
    height: 40px;
    max-height: 100px !important; 
}
.flaedi {left: calc(60px + ((100vw - 120px) / 5) * 2);}
.utgafur {left: calc(40px + ((100vw - 120px) / 5));}
.hladvorp {right: calc(40px + ((100vw - 120px) / 5));}
.verslun {right: 20px;}
.verslun {right: 20px;}
.fifthwidth:hover {
    background-color: white;
    border-bottom: 1px solid rgb(70,70,70);
    cursor: pointer;
}


.lines {
    position: absolute;
    top: calc(0% + 130px);
    left: 100px;
    right: 100px;
    height: 20px;
}
.lines:after {
    content: '';
    position: absolute;
    top: calc(50%);
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: rgb(70,70,70);
}





.title {
    position: relative;
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    width: calc(100% - 20px);
    margin-bottom: 40px;
    margin-top: 20px;
}

.greinaBox {
    position: absolute;
    right: 0px;
    /*top: 0%;
    padding-top: 210px;*/
    top: calc(0% + 150px);
    width: calc(100vw - 40px);
    height: calc(100vh - 150px);
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: -1;

    transition: 0.5s;
}
.greinaBoxLeita {width: calc((((100vw - 120px) / 5) * 4) + 70px);}

.umokkurEfst {
    position: relative;
    width: calc(100% - 20px);
    height: auto;
    margin-bottom: 50px;
}
.nyjastaPic {
    position: absolute;
    width: calc((((100% - 40px) / 3) * 2) + 20px /*- 2px*/);
    height: calc(100% - 0px);
    border: 1px solid rgb(70,70,70);
    /*background-image: url(https://flora-utgafa.is/wp-content/uploads/2020/06/Screen-Shot-2020-05-13-at-17.16.16-1000x797.png);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.umokkurTexti {
    position: relative;
    left: calc(40px + ((100% - 100px) / 4));
    width: calc((100% - 40px) / 2);
    text-align: center;
}
.nyjast {
    position: relative;
    width: calc(100% - 20px);
    /*height: 1000px;*/
    margin-bottom: 160px;
    align-content: top;
    display: flex-start;
    flex-flow: row wrap;
    justify-content: space-around;
}
.nyjast:after {
    content: '';
    position: absolute;
    bottom: -70px;
    width: calc(100% - 0px);
    height: 1px;
    background-color: rgb(70,70,70);
    left: 0px;
}

.grein {
    position: relative;
    display: inline-block;
    top: 0% !important;
    margin-right: 20px;
    margin-bottom: 20px;
    width: calc(((100% - 120px) / 6) - 4px);
    /*height: 400px;*/
    height: auto;
    /*border: 1px solid rgb(70,70,70);*/
    padding: 0px;
}
.greinlast{
    margin-right: 0px;
}
.grein:hover {
    background-color: white;
    cursor: pointer;
    /*border: 1px solid rgb(70,70,70);*/
}
.greinPic {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 300px;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgb(70,70,70);
}
.greinInfo {
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
    /*height: 20%;*/
    height: auto;
    line-height: 20px !important;
    margin-top: 10px;
    z-index: 1;
}








@media screen and (max-width: 800px){


        

}

